<div class="container">
    <div class="col">
        <div class="my-4 card">
            <div class="card-header text-center">
                <h2>{{post.title}}</h2>
            </div>
            <div class="card-body">
                <p>{{post.content}}</p>
                <p class="text-end">Author: {{post.user.username}}</p>
                <p class="text-end">Published on: {{formatDate post.date}}</p>
            </div>
            <div class="card-footer text-end new-comment-form">
                <textarea class="form-control" id="comment-content" placeholder="Add a comment"></textarea>
                <button class="btn btn-primary mt-2" type="submit" id="add-comment">Add Comment</button>
            </div>
        </div>
        <div class="my-4">
            <h3>Comments</h3>
            {{comment}}
    </div>
</div>

<script src="/js/comment.js"></script>